@import "popup_samples_colors";


window {
  //background-image: none;
  background-color: $base-bg;
  color: $light-base-bg;
}

box.custom-widget-style
{
  label
  {
    font-size: 32px;
  }
  background-color: $base-border-color;
}

box#overlay-popup-box
{
  color: $gtk_bg_color;
  box-shadow: 0 0 20px $base-bg;

  border: 3px solid $base-border-color;
  background-color: $base-bg;
  border-radius: 10px;
  button
  {
    //color: $base-fg;
    border: 3px solid $base-border-color;
    border-radius: 25px;
    padding: 10px 10px 10px 10px;
    //background-size: 100% 100%;
    font-size: 1.1em;
  }
}

.error
{
  color: red;
  border-color: red;
  background-color: pink;
  background-image: none;
}

.transparent_background{
  background-color: rgba(0, 0, 0, 0.15);
  background-image: none;
}